*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: blueviolet;
    color: bisque;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice :hover{
    cursor: pointer;
    background-color: black;
    opacity: 50%;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
#userscore, #compscore{
    font-size: 3rem;
}
#msg{
    background-color: rgb(22, 22, 78);
    color: rgb(192, 176, 176) ;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
    display: inline;
    border-radius: 0.5rem;
}